.why-us-section {
  background: linear-gradient(
      45deg,
      rgba(34, 197, 94, 0.027),
      rgba(0, 0, 0, 0.8)
    ),
    url("why-us-bg.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

.why-us-title {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: #22c55e;
  text-transform: uppercase;
}

.why-us-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.why-us-item {
  background: rgba(0, 0, 0, 0);
  height: 300px;
  border: 1px solid #22c55e32;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.why-us-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 20px rgba(34, 197, 94, 0.5);
}

.icon-container {
  background: #22c55e;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 0 auto 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container svg {
  color: #ffffff;
  font-size: 30px;
}

.why-us-description {
  font-size: 1.15rem;
  font: 500;
  padding-top: 10px;
  line-height: 1.5;
  color: #ffffff;
}
