@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.roboto {
  font-family: "Roboto", sans-serif;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #000 !important;
  color: #fff !important;
}

a {
  text-decoration: none !important;
}

.bg-green-gradient {
  background: linear-gradient(to right, #22c55e, #16a34a);
}

/* styles.css */
.text-green-gradient {
  background: linear-gradient(
    to right,
    rgb(85, 195, 133),
    rgb(56, 142, 96)
  ); /* Lighter shades */
  background-clip: text;
  color: transparent;
}
@media (max-width: 768px) {
  /* .header-bg {
    background-color: rgba(57, 56, 56, 0.904);
  } */
}
